#headline {
    padding-top: 200px;
}

.section-headline {
    padding-left: 10px;
    padding-bottom: 10px;
}

body {
    font-size: 120%;
}

.trans {
    opacity: 0.5;
}

div.containernav {
    margin-left: 50px;
    padding-right: 50px;    
}

#subtitle {
    font-size: 90%;
    font-style: italic;
}

#single-parallax {
    height: 400px;
}

.parallax-container {    
    height: 100vh;
}

.overlay {
    height: 600px;
}

div.article {
    padding: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.7;
}

div.extrapadding {
    padding-top: 100px;
    padding-bottom: 100px;
}

body.background {
    background-repeat: no-repeat;
    background-size: cover;
}

#card-img {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
}

.wrap {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}